.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh;
  padding: 70px;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  overflow: auto;
}

.dashboard-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dashboard-content {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Create two columns for companies and last five communications */
  gap: 20px; /* Add space between items */
  margin-bottom: 30px; /* Space between sections */
}

.dashboard-sidebar,
.dashboard-communications {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-communications {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-calendar {
  background-color: #ffffff;
  width: 100vh;
  height: 92vh; /* Adjust height of calendar */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; /* Space below calendar */
}

.dashboard-statistics {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 10%;
  height:20px;
}

.dashboard-chart {
  flex: 1 1 300px;
  min-width: 100%;
  margin-top: 0px;
  padding-top: 10px;
  background-color: white;
}

.fc-event {
  color: black !important;
  background-color: rgb(255, 13, 0) !important; /* Default red for overdue communications */
  border: 1px solid black !important;
}
.fc-event-title {
  color: black !important;
}
.fc-event.completed {
  background-color: rgb(15, 142, 15) !important; /* Green for completed communications */
  border: 1px solid green !important;
}

@media (max-width: 768px) {
  .dashboard-content {
    grid-template-columns: 1fr; /* Stack companies and communications on smaller screens */
  }

  .dashboard-calendar {
    height: 400px; /* Adjust calendar height for smaller screens */
  }
}
